@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr;
    grid-template-columns: 1fr;    
    grid-template-areas: 
        "cabecalho"
        "navegacao"
        "principal"
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #10101a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    height: calc(100vh - 180px);
    background-color: #10101a;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color:#10101a;
    padding: 20px;
}
.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 30;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color:rgb(8, 47, 56);
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color:#EEE;
}

.modulo > ul > li:hover {
    background-color: #242429;
}

p.divisao {
    margin-bottom: 0px;
    font-weight: bold;
}

hr {
    margin-top: 14px;
}

.navegacao {
    grid-area: navegacao;
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(8, 47, 56);
    height: 70px;
}

.navegacao > a {
    text-decoration: none;
    color: #FFF;
    font-weight: 30;
    font-size: 18px;
    background-color: #4CAF50; 
    padding: 5px 10px;
    margin-right: 10px;
}

.navegacao > a.vermelho { background-color: #F44336; }

span.usuario {
    flex-grow: 1;
    justify-self: flex-start;
    color: #EEE;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}